/* _______________Font_________________ */
/* Font - import*/
@import url(//db.onlinewebfonts.com/c/150037e11f159dca84bc4c04549094b6?family=Averta-Regular);

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Font - class */
.Averta {
  font-family: 'Averta-Regular';
}

/*_______________ color _________________*/

:root {
  --background-color: #192024;
  --background-item-color: #b8434c;
  --black-color: #192024;
  --white-color: #fafafa;
  --gray-color: #7a7a7d;
  --point-color: #ffd167;
  --transition: transition: 0.3s;
}
